<%include ./partials/header%>
<p>Bienvenue sur votre espace modérateur</p>
<p>Merci pour votre contribution</p>
<p>Merci de bien respecter la mise en page des articles</p>
<%include ./partials/footer%>
